h2 {
	margin: 15px 0 25px;
}
article {
	line-height: 1.7;
	text-align: left;
}
article a {
	color: #e300a7;
	text-decoration: underline;
}
.black-cover {
	background: #323232;
	transition: background .13s;
}
.black-cover:hover {
	background: #fffaf0;
}
ul {
	padding-left: 20px;
}
@media (prefers-color-scheme: dark) {
	article a {
		color: #ff00c4;
	}
	.black-cover {
		background: #e6e6e6;
	}
	.black-cover:hover {
		background: #0f0f0f;
	}
}