h2 {
	margin: 15px 0 20px;
}
article {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
section {
	padding: 10px 20px;
	border: 3.5px solid;
	margin: 5px 10px 15px;
	border-radius: 10px;
}
h3 {
	margin: 10px 0;
}
p {
	font-size: small;
}